extends layout

block breadcrumb
  a(class="section") &nbsp; 词牌 &nbsp;
  i(class="right arrow icon divider")
  a(class="section") &nbsp; 念奴娇 &nbsp;
  i(class="right arrow icon divider")
  a(class="section") &nbsp; 念奴娇（苏轼） &nbsp;

block content
  h4(class="ui header") 全词人
  div(class="ui four column divided grid")
    div(class="row")
      div(class="column")
        p
        声声慢
      div(class="column")
        p
        如梦令
      div(class="column")
        p
      div(class="column")
        p
    div(class="row")
      div(class="column")
        p
        声声慢
      div(class="column")
        p
      div(class="column")
        p
      div(class="column")
        p
