extends layout

block breadcrumb
  //a(class="section") &nbsp; 词牌 &nbsp;
  //i(class="right arrow icon divider")
  //a(class="section") &nbsp; 念奴娇 &nbsp;
  //i(class="right arrow icon divider")
  //a(class="section") &nbsp; 念奴娇（苏轼） &nbsp;

block content
    h2(class="ui header") 全词人
    div(class="ui vertically divided grid")
        - for (var i = 0; i < authors.length; i += 4)
            div(class="four column row")
                div(class="column center aligned")
                    if authors[i]
                        p #{ authors[i].name }
                div(class="column center aligned")
                    if authors[i+1]
                        p #{ authors[i+1].name }
                div(class="column center aligned")
                    if authors[i+2]
                        p #{ authors[i+2].name }
                div(class="column center aligned")
                    if authors[i+3]
                        p #{ authors[i+3].name }

        //  div(class="row")
  //    div(class="column")
  //      p
  //      声声慢
  //    div(class="column")
  //      p
  //      如梦令
  //    div(class="column")
  //      p
  //    div(class="column")
  //      p
  //  div(class="row")
  //    div(class="column")
  //      p
  //      声声慢
  //    div(class="column")
  //      p
  //    div(class="column")
  //      p
  //    div(class="column")
  //      p
