doctype html
html
    head
        title 肖老板的宋词网站
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', type="text/css", href="/stylesheets/semantic.css")
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
        script(src='/javascripts/semantic.js')

    body(class="guide")
        div(class="ui transparent inverted menu nav")
            div(class="container")
                div(class="title item")
                    a(href="/") 肖老板的宋词网站
                div(class="item")
                    div(class="ui breadcrumb")
                        block breadcrumb
                div(class="right menu")
                    if (!user)
                        a#login(class="item") 登录
                        a#register(class="item") 注册
                    if (user)
                        div(class="item")
                            b #{user.local.username}
                        a(href="/logout", class="item") Logout

        div#main(class="main container")
            div#menu(class="ui vertical menu small")
                div(class="header item")
                    i(class="user icon")
                    | 词人
                div(class="menu")
                    a(class="item" href="/author/famous") 著名词人
                    a(class="item" href="/author/all") 全词人
                    //a(class="item") 我的收藏
                div(class="header item")
                    i(class="file icon")
                    | 词作
                div(class="menu")
                    a(class="item", href="/template/all") 全词牌
                    //a(class="item") 高评价
                    //a(class="item") 我的收藏
            div(class="ui grid")
                block content

        div#loginModal(class="ui large modal")
            i(class="close .icon")
            div(class="header") 登录
            div(class="content")
                div(class="ui form segment")
                    div(class="field")
                        label 请输入用户名
                        div(class="ui left labeled icon input")
                            input#loginEmail(type="mail", placeholder="Username@xmail.com")
                            i(class="user icon")
                    div(class="field")
                        label 请输入密码
                        div(class="ui left labeled icon input")
                            input#loginPassword(type="password")
                            i(class="lock icon")
                    div#loginSubmit(class="ui blue submit button") 登录
                //div(class="ui horizontal divider") 或者
                //div(class="ui five column grid")
                //    div(class="column")
                //    div(class="column")
                //        div(class="ui facebook button small")
                //            i(class="facebook icon")
                //            | Facebook登录
                //    div(class="column")
                //    div(class="column")
                //        div(class="ui google plus button small")
                //            i(class="google plus icon")
                //            | Google 登录
                //    div(class="column")


        div#registerModal(class="ui large modal")
            i(class="close .icon")
            div(class="header") 注册新用户
            div(class="content")
                div#registerForm(class="ui form segment")
                    div.ui.error.message
                        div.header 注册失败
                        p#errorMessage
                    div(class="field")
                        label 请输入用户名
                        div(class="ui left labeled icon input")
                            input#registerUsername(type="text", placeholder="Username")
                            i(class="user icon")
                    div(class="field")
                        label 请输入邮箱地址
                        div(class="ui left labeled icon input")
                            input#registerEmail(type="mail", placeholder="Username@xmail.com")
                            i(class="mail icon")
                    div(class="field")
                        label 请输入密码
                        div(class="ui left labeled icon input")
                            input#registerPassword(type="password")
                            i(class="lock icon")
                    div(class="field")
                        label 请再次输入密码
                        div(class="ui left labeled icon input")
                            input#registerRePassword(type="password")
                            i(class="lock icon")
                    div#registerSubmit(class="ui blue submit button") 注册

    script.
        $("#login").click(function() {
            $('#loginModal').modal('show');
        });


        $("#register").click(function() {
            $('#registerModal').modal('show');
        });

        $("#loginSubmit").click(function() {
            var email = $("#loginEmail").val();
            var password = $("#loginPassword").val();

            $.ajax({
                type: "post",
                url: "/login",
                data: {
                    email: email,
                    password: password,
                },
                success: function() {
                    location.reload();
                },
                error: function(xhr, status, err) {
                }
            });
        });

        $("#registerSubmit").click(function() {
            clearError();
            var errorOccur = false;
            var username = $("#registerUsername").val();
            if (!username) {
                applyError($("#registerUsername").parent());
                appleyErrorMessage($("#registerUsername").parent(), "请输入用户名");
                errorOccur = true;
            }
            var email = $("#registerEmail").val();
            if (!email) {
                applyError($("#registerEmail").parent());
                appleyErrorMessage($("#registerEmail").parent(), "请输入用户邮箱");
                errorOccur = true;
            }
            var password = $("#registerPassword").val();
            if (!password) {
                applyError($("#registerPassword").parent());
                appleyErrorMessage($("#registerPassword").parent(), "请输入密码");
                errorOccur = true;
            }
            var rePassword = $("#registerRePassword").val();
            if (!rePassword) {
                applyError($("#registerRePassword").parent());
                appleyErrorMessage($("#registerRePassword").parent(), "请再次输入密码");
                errorOccur = true;
            }
            if (errorOccur) {
                return;
            }

            if (password != rePassword) {
                applyError($("#registerPassword").parent());
                applyError($("#registerRePassword").parent());
                appleyErrorMessage($("#registerPassword").parent(), "请检查两处密码是否相同");
                appleyErrorMessage($("#registerRePassword").parent(), "请检查两处密码是否相同");
            }

            $.ajax({
                type: "post",
                url: "/register",
                data: {
                    username: username,
                    password: password,
                    email: email
                },
                success: function() {
                    location.reload();
                },
                error: function(xhr, status, err) {
                    $("#registerForm").addClass("error");
                    $("#registerForm").find(".message").addClass("error");
                    var response = eval("(" + xhr.responseText + ")");
                    $("#errorMessage").text(response.error);
                }
            });
        });

        function clearError() {
            $("#errorMessage").text("");
            $(".error").removeClass("error");
            $("#registerForm").find(".message").addClass("error");
            $(".pointing").remove();
        }

        function applyError(element) {
            element.addClass("error");
        }

        function appleyErrorMessage(element, message) {
            var errorDiv = $("<div>");
            errorDiv.addClass("ui").addClass("red").addClass("pointing").addClass("above").addClass("label");
            errorDiv.text(message);
            element.append(errorDiv);
        }

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-52163577-1', 'seanxiao.me');
        ga('send', 'pageview');
