doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type="text/css", href="/stylesheets/semantic.css")
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
    script(src='/javascripts/semantic.js')

  body(class="guide")
    block content