//
   Created by xiaoxiao on 6/17/14.

extends layout

block content
    h2(class="ui header") #{ author.name }
    div(class="ui vertically divided grid")
        each poem in poems
            div(class="column row")
                div(class="column center aligned")
                    div(class="ui piled segment")
                        h4 #{ poem.title }
                        - for (var i = 0; i < poem.contents.length; i ++)
                            p #{ poem.contents[i] }
